<div class="modal-overlay"></div>

<div class="modal">
  <h2>New Customer</h2>
  <p *ngIf="!validForm" class="warning">Fill in the form!!!</p>
  <form [formGroup]="customerForm" (ngSubmit)="submit()">
    <label>
      Company Name:
      <input type="text" formControlName="name" placeholder="Papirfly"/>
    </label>
    <!--      <label>-->
    <!--        Company ID:-->
    <!--        <input type="number" formControlName="com_id" min="0" >-->
    <!--      </label>-->
    <label>
      Size:
      <div class="size">
          <input type="text" formControlName="size"/>
          <select formControlName="sizeValue"  >
            <option>MB</option>
            <option>GB</option>
            <option>TB</option>
          </select>
      </div>
    </label>
    <label>
      Enabled:
      <select formControlName="enabled" class="select">
        <option>True</option>
        <option>False</option>
      </select>
    </label>
    <!--      <label>-->
    <!--        ID:-->
    <!--        <input type="number" formControlName="id" min="0"  >-->
    <!--      </label>-->
    <!--      <label>-->
    <!--        Leg ID:-->
    <!--        <input type="number" formControlName="leg_id" min="0" >-->
    <!--      </label>-->
    <!--      <label>-->
    <!--        Logo:-->
    <!--        <input type="text" formControlName="logo" >-->
    <!--      </label>-->
    <label >
      Status:
      <select formControlName="status" class="select">
        <option>active</option>
        <option>disabled</option>
      </select>
    </label>
    <div class="flexbox">
      <button class="cancel-button" type="button" (click)="close()">
        Cancel
      </button>
      <button class="submit-button" type="submit">Create</button>
    </div>
  </form>
</div>
