.modal {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h2{
  margin-bottom: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.warning {
  color: red;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  height: 30px;
}

button {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  margin-right: 5px;
  background-color: darkred;
}
.submit-button {
  background-color: #007bff;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
}
.size{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  input{
    width: 60%;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 0.8px;
  }
  select{
    height: 30px;
    width: 40%;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.select{
  height: 30px;
  width: 100%;
}
@media (max-width: 425px) {
  .modal {
    width: 90%;
  }
}
