<div *ngIf="isExpanded && isMobile" class="side-bar-overlay"></div>
<div
  class="side-bar"
  *ngIf="isExpanded"
  clickOutside
  (clickOutside)="clickOutside()"
>
  <div *ngIf="isMobile" (click)="closeSidebar()" class="close-side-bar">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
      <path
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0
      32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7
      0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3
      32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448
      416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32
      32-32H416c17.7 0 32 14.3 32 32z"
      />
    </svg>
  </div>
  <h6>SITE ADMIN</h6>
  <div class="side-bar-items">
    <div class="side-bar-item active">
      <img src="./assets/earth/online.png" alt="" />
      <h2>Customer Overview</h2>
    </div>
    <div class="side-bar-item">
      <img src="./assets/list-dot/list-dot.png" alt="" />
      <h2>Reports</h2>
    </div>
    <div class="side-bar-item">
      <img src="./assets/file-add.png" alt="" />

      <h2>File transcodings</h2>
    </div>
    <div class="side-bar-item">
      <img src="./assets/notification/notification.png" alt="" />
      <h2>Notification center</h2>
    </div>
  </div>
</div>
